.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
.fas {
  color: #383d41d4;
}
.App-intro {
  font-size: large;
}

.min-h {
  min-height: 200px;
}

.p15 {
  padding: 30px;
}
.p0 {
  padding: 0px;
}
.pt10 {
  margin-top: 10px;
}
.p20 {
  padding: 20px;
}
.grey-bg {
  background-color: #eeee;
  -webkit-print-color-adjust: exact;
}

.template-image {
  padding: 20px;
  text-align: center;
}

.profile-text {
  color: #fffffff5;
}

.profile {
  width: 100%;
  background-color: #3ec7b9;
  min-height: 150px;
  color: #fffffff5;
  -webkit-print-color-adjust: exact;
}

.float-right {
  float: right;
}

.hr-1 {
  border-top: 3px solid #3ec7b9;
}
.hr-2 {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}
.pb10 {
  padding-bottom: 10px;
}

.fs13 {
  font-size: 1.3em;
}

.pb20 {
  padding-bottom: 20px;
}

.pt20 {
  padding-top: 20px;
}

.hr_green {
  border-top: 3px solid #3ec7b9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
