.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
.fas {
  color: #383d41d4;
}
.App-intro {
  font-size: large;
}

.min-h {
  min-height: 200px;
}

.p15 {
  padding: 15px;
}
.p0 {
  padding: 0px;
}
.pt10 {
  margin-top: 10px;
}
.p20 {
  padding: 20px;
}
.grey-bg {
  background-color: #eeee;
  -webkit-print-color-adjust: exact;
}

.white-bg {
  background-color: white;
  -webkit-print-color-adjust: exact;
}

.template-image {
  padding: 20px;
  text-align: center;
}

.profile-text {
  color: #fffffff5 !important;
}

.profile {
  width: 100%;
  background-color: #3ec7b9 !important;
  min-height: 150px;
  color: #fffffff5;
  -webkit-print-color-adjust: exact;
}

.float-right {
  float: right;
}

.hr-1 {
  border-top: 3px solid #3ec7b9;
}
.hr-2 {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}
.pb10 {
  padding-bottom: 10px;
}

.fs13 {
  font-size: 1.3em !important;
}

.pb20 {
  padding-bottom: 20px;
}

.pt20 {
  padding-top: 20px;
}

.hr_green {
  border-top: 3px solid #3ec7b9;
}

.skill-padding {
  background-color: #3ec7b9;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  -webkit-print-color-adjust: exact;
}

.def-text-color {
  color: #3ec7b9 !important;
}
.italic {
  font-style: italic;
}

.no-m-top {
  margin-top: 0px !important;
}

.no-m-bottom {
  margin-bottom: 0px !important;
}

.p-text {
  font-family: monospace;
}

.font-weight-normal {
  font-weight: 450 !important;
}

body {
  font-size: 0.9rem !important;
}

h3 {
  font-size: 1.5rem !important;
}

h4 {
  font-size: 1.25rem !important;
}

.mr10 {
  margin-right: 10px;
}

.list-group-item.active {
  background-color: rgba(108, 117, 125, 0.5) !important;
  border-color: rgba(108, 117, 125, 0.5) !important;
}
body {
  height: 100%;
  width: 100%;
  position: absolute;
}

.container-fluid,
.row-fluid {
  height: inherit;
}
@media print {
  .nonPrintable {
    display: none;
  }
  @page {
    size: auto;
    margin: 0mm;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
